{
        "DB_HOST" : "localhost",
        "DB_PORT" : "5432",
        "DB_NAME" : "yourdb",
        "DB_USER" : "mrdbuser",
        "DB_PASS" : "",
        "REDIS_CONN" : "localhost:6379",
        "CACHE_EXPIRE" : 18000
}
